<h1>Listing articles</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article, :class => "btn-mini btn" %></td>
        <% if can? :edit, article %>
          <td><%= link_to 'Edit', edit_article_path(article), :class => "btn-mini btn-inverse btn" %></td>
        <% else %>
        <% end %>

        <% if can? :destroy, article %>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %> </td>
         <% else %>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br />


<% if logged_in? %>
  <%= link_to 'New', new_article_path, :class => 'btn btn-mini' %>
<% else %>
<% end %>