<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @articles) do |article| %>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
